.first__symbol {
  width: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-min-1);
  user-select: none;
}

.first__symbol_list {
  width: 100%;
  margin: 15px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.first__symbol_list input {
  display: none;
}

.first__symbol_list > li > input + label {
  height: 40px;
  border-radius: var(--btn-border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.first__symbol_list > li > input:checked + label {
  color: var(--primary);
  box-shadow: var(--shadow-active);
  cursor: pointer;
  transition: var(--transition);
}

.first__symbol_list > li > input:disabled + .first__symbol_label {
  color: var(--greyDark);
  box-shadow: none;
  cursor: default;
}

.first__symbol_list > li > input:disabled:hover + .first__symbol_label {
  color: var(--greyDark);
}

.first__symbol_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-min-1);
  cursor: pointer;
  transition: var(--transition);
}

.first__symbol_label:hover {
  color: var(--primary);
}

.first__symbol_list > li:nth-of-type(5) {
  grid-column: 2/4;
}
