@import "./normalize.css";
@import "./font.css";
@import "./variables.css";
@import "./buttons.css";
@import "./input_first_symbol.css";
@import "./input_password_length.css";
@import "./input_unique_symbol.css";
@import "./input_options.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: var(--greyLight-1);
  font-family: "Comfortaa", cursive;
}

.container {
  width: 90%;
  min-width: var(--min-width);
  margin: 15px auto 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 15px 0;
  font-weight: 700;
  font-size: var(--font-normal-2);
  text-transform: uppercase;
  transition: var(--transition);
  user-select: none;
}

.password {
  width: min(90%, 500px);
  min-height: 20px;
  margin: 15px;
  padding: 15px;
  border: 1px solid rgb(43, 43, 58);
  border-radius: 15px;
  color: #000;
  font-size: var(--font-normal-1);
  text-align: center;
  overflow-wrap: break-word;
  transition: var(--transition);
}

.message {
  min-height: 14px;
  margin: auto;
  padding: 3px;
  color: red;
  font-size: var(--font-min-1);
  text-align: center;
  user-select: none;
}
